.progressCards{
    padding: 20px;
    margin: 20px 0;
    border: 1px solid var(--green);
    border-radius: 25px;
    .dataName{
      display: block;
      color: var(--green)
    }
    .discription{
      height: 100px;
      overflow-y: auto;
    }
    .btn{
      margin-top: 10px;
    }
    .people{
      margin-top: 10px;
      &Avatar{
        background-color: var(--bg02);
        border-radius: 25px;
        padding: 6px 9px;
        border: 1px solid var(--bg01);
        transition: all .4s ease;
        margin: 5px;
      }
      &Avatar:hover{
        color: var(--green);
        background-color: var(--bg01);
        border-color: var(--green);
      }
    }
  }