:host {
  display: block;
  background: var(--bg01);
  border: 1px solid var(--red);
  border-radius: 24px;
  min-width: 50vw;
  padding: 30px;
  color: var(--text02);
  overflow-y: auto;

  --red: red;
}
.alert {
  border-radius: 24px;
  min-width: 400px;
  border-color: 10px solid var(--green);
  background-color: var(--bg01);
  color: var(--text02);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  hr {
    border-color: var(--red);
  }
  &-header {
    width: 100%;
    &-title {
      text-align: center;
    }
    &-icon {
      font-size: 4em;
      text-align: center;
      i {
        color: var(--red);
      }
    }
  }
  &-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    .waring {
      border-color: var(--red);
    }
    .waring:hover {
      background-color: var(--red);
      color: var(--text02);
      border-color: var(--white);
    }
  }
}
