<div class="card-header">
    <span><i class="uil uil-bell"></i></span>
    <span class="card-header-title">Latest tasks</span>
  </div>
<hr />
<div class="card-content">
  <ng-container *ngIf="tasks.length > 0; else noData">
    <app-table
    [data]="tasks"
    [displayedColumns]="displayedColumns"
    [columnDef]="columnDef"
    [category]="'tasks'"
  ></app-table>
  </ng-container>
  <ng-template #noData>
    <div class="card-nottfication-empty">
      <i class="uil uil-apps"></i>
      <div class="card-nottfication-empty-title">
        You don't have any notifications yet
        <p>If something comes up, we'll let you know</p>
      </div>
    </div>
  </ng-template>
</div>
