<div class="cardHeader">
    <div class="cardTitle">
      <span class="TitleIcon"><i class="uil uil-bell"></i></span>
      <h2>Notifications</h2>
    </div>
  </div>
  <hr />
  <div class="contentCard">
    <table cdk-table [dataSource]="dataSource">
      <ng-container cdkColumnDef="title">
        <th cdk-header-cell *cdkHeaderCellDef>Title</th>
        <td cdk-cell *cdkCellDef="let element">{{ element.title }}</td>
      </ng-container>

      <ng-container cdkColumnDef="discription">
        <th cdk-header-cell *cdkHeaderCellDef>Discription</th>
        <td cdk-cell *cdkCellDef="let element">{{ element.discription }}</td>
      </ng-container>

      <ng-container cdkColumnDef="viewMore">
        <th cdk-header-cell *cdkHeaderCellDef>View More</th>
        <td cdk-cell *cdkCellDef="let element">
          <button class="btn">Go to details</button>
        </td>
      </ng-container>

      <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>