<h1>Add new tasks</h1>
<div class="content-form">
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()" id="taskForm">
    <label for="name">Name of Task</label>
    <input type="text" name="NameOfTask" id="name" formControlName="name" />
    <div class="invalid-feedback" *ngIf="isSubmitted && name?.invalid">
      <span class="waring">Please check yours task name field</span>
    </div>
    <label for="description">description of Task</label>
    <textarea
      name="descriptionOfTask"
      id="description"
      cols="30"
      rows="10"
      formControlName="description"
    ></textarea>
    <div class="invalid-feedback" *ngIf="isSubmitted && description?.invalid">
      <span class="waring">Please check yours description field</span>
    </div>
    <label for="level">Level od Task</label>
    <select name="LevelOfTask" id="level" formControlName="level">
      <option value="low">Low</option>
      <option value="Mid">Medium</option>
      <option value="Hard">Hard</option>
    </select>
    <div class="invalid-feedback" *ngIf="isSubmitted && level?.invalid">
      <span class="waring">Please check yours level field</span>
    </div>
    <label for="deadline">Deadline</label>
    <input
      type="date"
      name="DeadlineOfTasks"
      id="deadline"
      formControlName="deadline"
    />
    <div class="invalid-feedback" *ngIf="isSubmitted && deadline?.invalid">
      <span class="waring">Please check yours deadline field</span>
    </div>
    <div class="content-form-buttons">
      <button class="btn" type="submit">
        Save <i class="uil uil-save"></i>
      </button>
      <button class="btn" (click)="closeDialog()">
        Cancel <i class="uil uil-cancel"></i>
      </button>
    </div>
  </form>
</div>
