:host {
  display: block;
  background: var(--bg01);
  border: 1px solid var(--green);
  border-radius: 25px;
  width: 80vw;
  padding: 30px;
  color: var(--text02);
}
.content-form {
  padding: 20px;
  form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    input,
    select,
    textarea {
      color: var(--text02);
      width: 100%;
      background-color: var(--bg01);
      padding: 10px;
    }

    .btn {
      margin-top: 30px;
    }
  }
  &-buttons{
    display: flex;
    gap: 10px;
  }
}
