<h1>Add new tasks</h1>
<div class="ContentForm">
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()" id="taskForm">
    <label for="name">Name of Task</label>
    <input
      type="text"
      name="NameOfTask"
      id="name"
      formControlName="title"
    />
    <div class="invalidfFeedback" *ngIf="isSubmitted && title?.invalid">
      <span class="waring">Please check yours task name field</span>
    </div>
    <label for="discription">Discription of Task</label>
    <textarea
      name="DiscriptionOfTask"
      id="discription"
      cols="30"
      rows="10"
      formControlName="discription"
    ></textarea>
    <div class="invalidfFeedback" *ngIf="isSubmitted && discription?.invalid">
      <span class="waring">Please check yours Discription field</span>
    </div>
    <label for="level">Level od Task</label>
    <select name="LevelOfTask" id="level" formControlName="level">
      <option value="low">Low</option>
      <option value="Mid">Medium</option>
      <option value="Hard">Hard</option>
    </select>
    <div class="invalidfFeedback" *ngIf="isSubmitted && level?.invalid">
      <span class="waring">Please check yours level field</span>
    </div>
    <label for="deadline">Deadline</label>
    <input
      type="date"
      name="DeadlineOfTasks"
      id="deadline"
      formControlName="deadline"
    />
    <div class="invalidfFeedback" *ngIf="isSubmitted && deadline?.invalid">
      <span class="waring">Please check yours deadline field</span>
    </div>
    <button class="btn" type="submit">Save</button>
  </form>
</div>
