<table cdk-table [dataSource]="DataItem">
    <ng-container cdkColumnDef="id">
      <th cdk-header-cell *cdkHeaderCellDef>Done</th>
      <td cdk-cell *cdkCellDef="let element">{{ element.check }}</td>
    </ng-container>

    <ng-container cdkColumnDef="name">
      <th cdk-header-cell *cdkHeaderCellDef>Name</th>
      <td cdk-cell *cdkCellDef="let element" class="short-text">
        {{ element.title }}
      </td>
    </ng-container>

    <ng-container cdkColumnDef="discription">
      <th cdk-header-cell *cdkHeaderCellDef>Discription</th>
      <td cdk-cell *cdkCellDef="let element" class="short-text">
        {{ element.discription }}
      </td>
    </ng-container>

    <ng-container cdkColumnDef="deadline">
      <th cdk-header-cell *cdkHeaderCellDef>Deadline</th>
      <td cdk-cell *cdkCellDef="let element">{{ element.deadline }}</td>
    </ng-container>

    <ng-container cdkColumnDef="level">
      <th cdk-header-cell *cdkHeaderCellDef>Level</th>
      <td cdk-cell *cdkCellDef="let element">{{ element.level }}</td>
    </ng-container>

    <ng-container cdkColumnDef="viewMore">
      <th cdk-header-cell *cdkHeaderCellDef>View More</th>
      <td cdk-cell *cdkCellDef="let element">
        <button class="btn" (click)="showDetails(element)">Show more</button>
      </td>
    </ng-container>

    <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
    <tr cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>
  </table>