.card-header {
  display: flex;
  gap: 10px;
  align-items: center;
  &-avatar {
    margin-left: 0;
    margin-right: 10px;
    font-size: 3em;
  }
  p {
    color: var(--green);
  }
}
.card-description{
  table {
    width: fit-content;
    tr td:nth-child(2n) {
      color: var(--green);
    }
    td {
      text-align: left;
    }
  }
}
.card-buttons {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}
