<h1>My Settings</h1>
<div class="container">
  <div class="settings">
    <app-card>
      <section>
        <h2>Chenge mode</h2>
      </section>
      <section>
        <h2>Chenge font size</h2>
        <div class="settings-buttons">
          <button (click)="resizeFont(1)" class="btn">+</button>
          <span class="btn sm-radius">Actual: {{ fontSize }}px</span>
          <button class="btn" (click)="resizeFont(-1)">-</button>
        </div>
      </section>
      <section>
        <h2>Repo to view on:</h2>
        <a href="https://github.com/OXYAbc/CRM">CRM by Paweł Pyra</a>
      </section>
    </app-card>
  </div>
</div>
<div class="credits">
  <h2>About</h2>
  Code by Paweł Pyra , code review by Rafał Kudlik
  <a href="https://sii.pl">SII {{ date }}</a>
</div>
