<h1>Add new User</h1>
<div class="ContentForm">
  <form [formGroup]="UserForm" (ngSubmit)="onSubmit()" id="UserForm">
    <label for="userName">Fistname</label>
    <input type="text" id="userName" formControlName="userName" />
    <div class="invalidfFeedback" *ngIf="isSubmitted && userName?.invalid">
      <span class="waring">Please check yours Name field</span>
    </div>
    <label for="userSurname">Lastname</label>
    <input type="text" id="userSurname" formControlName="userSurname" />
    <div class="invalidfFeedback" *ngIf="isSubmitted && userSurname?.invalid">
      <span class="waring">Please check yours surname field</span>
    </div>
    <label for="userPosition">Position</label>
    <input type="text" id="userPosition" formControlName="userPosition" />
    <div class="invalidfFeedback" *ngIf="isSubmitted && userPosition?.invalid">
      <span class="waring">Please check yours Position field</span>
    </div>
    <label for="userDepartament">Departament</label>
    <select id="userDepartament" formControlName="userDepartament">
      <option value="low">Digital</option>
      <option value="Mid">Support</option>
      <option value="Hard">HR</option>
    </select>
    <div
      class="invalidfFeedback"
      *ngIf="isSubmitted && userDepartament?.invalid"
    >
      <span class="waring">Please check yours departament option</span>
    </div>
    <label for="userNumber">Number</label>
    <input type="tel" id="userNumber" formControlName="userNumber" />
    <div class="invalidfFeedback" *ngIf="isSubmitted && userNumber?.invalid">
      <span class="waring">Please check yours task Phone Number field</span>
    </div>
    <label for="userEmail">Email</label>
    <input type="email" id="userEmail" formControlName="userEmail" />
    <div class="invalidfFeedback" *ngIf="isSubmitted && userEmail?.invalid">
      <span class="waring">Please check yours task emial field</span>
    </div>
    <button class="btn" type="submit">Add user</button>
  </form>
</div>
