<table cdk-table [dataSource]="dataSource">

    <ng-container cdkColumnDef="id">
      <th cdk-header-cell *cdkHeaderCellDef> Id </th>
      <td cdk-cell *cdkCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <ng-container cdkColumnDef="name">
      <th cdk-header-cell *cdkHeaderCellDef> Name </th>
      <td cdk-cell *cdkCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container cdkColumnDef="discription">
      <th cdk-header-cell *cdkHeaderCellDef> discription </th>
      <td cdk-cell *cdkCellDef="let element"> {{element.discription}} </td>
    </ng-container>
  
    <ng-container cdkColumnDef="level">
      <th cdk-header-cell *cdkHeaderCellDef> level </th>
      <td cdk-cell *cdkCellDef="let element"> {{element.level}} </td>
    </ng-container>

    <ng-container cdkColumnDef="time">
        <th cdk-header-cell *cdkHeaderCellDef> time </th>
        <td cdk-cell *cdkCellDef="let element"> {{element.time}} </td>
      </ng-container>
  
    <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
    <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
  </table>