table{
    border-spacing: 0;
    tr{
        border-radius: 25px;
        th{
            .btn, input{
                width: 100%;
            }
        }
        td,th{
            padding: 8px;
        }
    }
    tr:nth-child(2n){
        background-color: var(--bg01);
    }
}