<div class="card-table">
  <table cdk-table [dataSource]="projects">
    <ng-container cdkColumnDef="name">
      <th cdk-header-cell *cdkHeaderCellDef>Name</th>
      <td cdk-cell *cdkCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container cdkColumnDef="description">
      <th cdk-header-cell *cdkHeaderCellDef>description</th>
      <td cdk-cell *cdkCellDef="let element" class="short-text">
        {{ element.description }}
      </td>
    </ng-container>

    <ng-container cdkColumnDef="level">
      <th cdk-header-cell *cdkHeaderCellDef>Level</th>
      <td cdk-cell *cdkCellDef="let element">{{ element.level }}</td>
    </ng-container>

    <ng-container cdkColumnDef="time">
      <th cdk-header-cell *cdkHeaderCellDef>Deadline</th>
      <td cdk-cell *cdkCellDef="let element">{{ element.time }}</td>
    </ng-container>

    <ng-container cdkColumnDef="viewMore">
      <th cdk-header-cell *cdkHeaderCellDef>View More</th>
      <td cdk-cell *cdkCellDef="let element">
        <button (click)="showDetails(element.id)" [routerLink]="'../../pages/projects/'" [queryParams]="{id: element.id}" class="btn">Show more</button>
      </td>
    </ng-container>

    <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
    <tr cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
