<table cdk-table [dataSource]="DataProjects">
  <ng-container cdkColumnDef="position">
    <th cdk-header-cell *cdkHeaderCellDef>id</th>
    <td cdk-cell *cdkCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <ng-container cdkColumnDef="name">
    <th cdk-header-cell *cdkHeaderCellDef>Name</th>
    <td cdk-cell *cdkCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container cdkColumnDef="weight">
    <th cdk-header-cell *cdkHeaderCellDef>discription</th>
    <td cdk-cell *cdkCellDef="let element">{{ element.discription }}</td>
  </ng-container>

  <ng-container cdkColumnDef="symbol">
    <th cdk-header-cell *cdkHeaderCellDef>Level</th>
    <td cdk-cell *cdkCellDef="let element">{{ element.level }}</td>
  </ng-container>

  <ng-container cdkColumnDef="time">
    <th cdk-header-cell *cdkHeaderCellDef>Deadline</th>
    <td cdk-cell *cdkCellDef="let element">{{ element.time }}</td>
  </ng-container>

  <ng-container cdkColumnDef="viewMore">
    <th cdk-header-cell *cdkHeaderCellDef>View More</th>
    <td cdk-cell *cdkCellDef="let element">
      <button (click)="showDetails(element)" class="btn">Show more</button>
    </td>
  </ng-container>

  <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
  <tr cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>
</table>
