:host {
  background-color: var(--white);
}
.container {
  flex-wrap: nowrap;
  display: flex;
  justify-content: space-between;
  gap: 60px;
  align-items: center;
  background-color: var(--bg01);
  border: 1px solid var(--green);

  .comments-section {
    display: flex;
    row-gap: 10px;
    flex-direction: column;
    height: 100%;

    &-content {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      overflow-y: auto;
      height: 200px;
      padding: 20px;
      h4 {
        color: var(--green);
      }
    }
    .comment {
      background-color: var(--bg02);
      padding: 10px 20px;
      border-radius: 25px;
      max-width: 450px;
      min-width: 250px;

      &-user {
        color: var(--green);
      }
      &-content {
        display: flex;
        flex-direction: column;
        border-left: 1px solid var(--green);
        padding-left: 10px;
        margin: 5px 0;
      }
      &-blank {
        display: flex;
        margin: auto 0;
        i {
          color: var(--green);
          background-color: var(--bg01);
          border-radius: 25px;
          padding: 10px 12px;
          margin-right: 10px;
          font-size: 1.4em;
        }
      }
    }
  }
}
