<div class="container">
  <app-comment-form (commentEmitter)="addCommentFromForm($event)" [idTask]="data.itemID"></app-comment-form>
  <div class="comments-section">
    <div class="comments-section-content">
      <ng-container *ngIf="data.comments; else noData">
        <div class="comment" *ngFor="let item of data.comments">
          <span class="comment-user">{{ item.user }}: </span>
          <span class="comment-content">
            {{ item.comment }}
          </span>
        </div>
      </ng-container>
      <ng-template #noData>
        <div class="comment-blank">
          <i class="uil uil-file-check-alt"></i>
          <div class="task-detail-empty-title">
            <h4>This task has no comments yet</h4>
            <p>Be first one</p>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
