<h2>Add New comment</h2>
<div class="content-form">
  <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
    <textarea
      formControlName="comment"
      cols="50"
      rows="10"
      placeholder="Yours comment"
    ></textarea>
    <div class="invalid-feedback" *ngIf="isSubmitted && comment?.invalid">
      <span class="waring">Please check yours comment field</span>
    </div>
    <div class="content-form-buttons">
      <button class="btn" type="submit">
        Add <i class="uil uil-plus-circle"></i>
      </button>
      <button class="btn" (click)="closeDialog()">
        Cancel <i class="uil uil-cancel"></i>
      </button>
    </div>
  </form>
</div>
