.project-detail-empty{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 24px;
  cursor: default;
  i{
    color: var(--green);
    background-color: var(--bg01);
    border-radius: 25px;
    padding: 10px 12px;
    margin-right: 10px;
  }
  .project-detail-empty-title{
    transition: all .4s ease;
    p{
      font-size: 14px;
      color: var(--text02);
    }
  }
  .project-detail-empty-title:hover{
    color: var(--green);
  }
}

.ProjectsView {
  background-color: var(--bg01);
  padding: 20px;
  margin-top: 10px;
  border-radius: 25px;
  height: fit-content;
  .cardsControlPanel {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
  }
}
.cardsControlPanel {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}
.detail {
  padding:0 20px;
  .headerDetailData {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .discription {
    background-color: var(--bg01);
    padding: 20px;
    margin-top: 10px;
    border-radius: 25px;
    h3{
      color: var(--green);
    }
    .discriptionContent{
      height: 300px;
      overflow-y: auto;
      padding-right: 20px;
    }
  }
  .deatilMoreInfo {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .btn {
      font-size: 16px;
    }
  }
}
