<app-card [title]="'Projects'">
  <div class="card-header-buttons">
    <button class="btn" *ngIf="(userRole$ | async) == 'Admin'" (click)="openAddDialog()">Add +</button>
    <ng-container *ngIf="displaySearch; else searchDisplay">
      <button class="btn" (click)="ShowSearch()">
        Search <i class="uil uil-search"></i>
      </button>
    </ng-container>
    <ng-template #searchDisplay>
      <form>
        <input
          type="text"
          [(ngModel)]="searchName"
          (input)="search($event)"
          name="task name"
          (blur)="ShowSearch()"
          placeholder="Search name"
        />
      </form>
    </ng-template>
  </div>
  <app-table
    (eventEmitt)="onGetDetail($event)"
    [data]="projects"
    [displayedColumns]="displayedColumns"
    [columnDef]="columnDef"
    [category]="'projects'"
  ></app-table>
</app-card>

<app-card [title]="'Project'">
  <ng-container *ngIf="projectDetail; else emptyData">
    <app-detail-view [project]="projectDetail" [userRole$]="userRole$"></app-detail-view>
  </ng-container>
  <ng-template #emptyData>
    <app-empty-data icon="uil uil-apps" typeOfData="project"></app-empty-data>
  </ng-template>
</app-card>
