<div class="cardsHeader">
  <h1>Tasks</h1>
</div>
<div class="twoColumn">
  <div class="ProjectsView">
    <div class="cardsControlPanel">
      <button class="btn" (click)="openDialog()">Add +</button>
      <button class="btn">Search <i class="uil uil-search"></i></button>
    </div>
    <app-table-tasks (DataEmitter)="getDetail($event)" [DataItem]="DataItem"></app-table-tasks>
  </div>

  <ng-container *ngIf="task; else emptyData">
    <div class="task-detail">
      <app-detail-view [detailData]="task"></app-detail-view>
    </div>
  </ng-container>
  <ng-template #emptyData>
    <div class="task-detail-empty">
      <i class="uil uil-file-check-alt"></i>
      <div class="task-detail-empty-title">
        No task was selected
        <p>Select task to view details</p>
      </div>
    </div>
  </ng-template>
</div>
