<div class="cards-header">
  <h1>Tasks</h1>
</div>
<div class="cards-columns">
  <div class="card">
    <div class="card-header">
      <div class="card-header-buttons">
        <button class="btn" (click)="openDialog()">Add +</button>
        <ng-container *ngIf="displaySearch; else searchDisplay">
          <button class="btn" (click)="ShowSearch()">
            Search <i class="uil uil-search"></i>
          </button>
        </ng-container>
        <ng-template #searchDisplay>
          <form>
            <input
              type="text"
              [(ngModel)]="searchName"
              (input)="search()"
              name="task name"
              (blur)="ShowSearch()"
              placeholder="Search name"
            />
          </form>
        </ng-template>
      </div>
    </div>
    <app-table-tasks
      (DataEmitter)="getDetail($event)"
      [DataItem]="dataItem"
    ></app-table-tasks>
  </div>

  <ng-container *ngIf="task; else emptyData">
    <div class="task-detail">
      <app-detail-view [detailData]="task"></app-detail-view>
    </div>
  </ng-container>
  <ng-template #emptyData>
    <div class="task-detail-empty">
      <i class="uil uil-file-check-alt"></i>
      <div class="task-detail-empty-title">
        No task was selected
        <p>Select task to view details</p>
      </div>
    </div>
  </ng-template>
</div>
