<app-cards>
  <div class="card-buttons">
    <button class="btn" (click)="openAddtask()">Add +</button>
    <ng-container *ngIf="displaySearch; else searchDisplay">
      <button class="btn" (click)="toggleSearchButtonVisibility()">
        Search <i class="uil uil-search"></i>
      </button>
    </ng-container>
    <ng-template #searchDisplay>
      <form>
        <input
          type="text"
          [(ngModel)]="searchName"
          (input)="search($event)"
          name="task name"
          (blur)="toggleSearchButtonVisibility()"
          placeholder="Search name"
        />
      </form>
    </ng-template>
  </div>
  <app-table
    (eventEmitt)="onGetDetail($event)"
    [data]="users"
    [displayedColumns]="displayedColumns"
    [columnDef]="columnDef"
    [category]="'users'"
  ></app-table>
</app-cards>
<app-cards>
  <ng-container *ngIf="user; else emptyData">
    <div class="card">
      <app-data-detail-view
        [user]="user"
        [users]="users"
      ></app-data-detail-view>
    </div>
  </ng-container>
  <ng-template #emptyData>
    <div class="card-detail-empty">
      <i class="uil uil-user"></i>
      <div class="card-detail-empty-title">
        No person was selected
        <p>Select someone to view details</p>
      </div>
    </div>
  </ng-template>
</app-cards>