<div class="cardsHeader">
  <h1>Users</h1>
  <!-- <app-data-control></app-data-control> -->
</div>
<div class="twoColumn">
  <div class="users-view">
    <div class="users-view-controls">
      <button class="btn" (click)="openAddtask()">Add +</button>
      <button class="btn">Search <i class="uil uil-search"></i></button>
    </div>
    <app-table-users
      (DataEmitter)="ShowDetail($event)"
      [dataItems]="DataUsers"
    ></app-table-users>
  </div>

  <ng-container *ngIf="displayData; else emptyData">
    <div class="user-detail">
      <app-data-detail-view
        [SingleDataDetails]="singleData"
      ></app-data-detail-view>
    </div>
  </ng-container>
  <ng-template #emptyData>
    <div class="user-detail-empty">
      <i class="uil uil-user"></i>
      <div class="user-detail-empty-title">
        No person was selected
        <p>Select someone to view details</p>
      </div>
    </div>
  </ng-template>
</div>
