<h1>Add new Project</h1>
<div class="content-form">
  <form [formGroup]="addProjectForm" (ngSubmit)="onSubmit()" id="taskForm">
    <label for="name">Name of project</label>
    <input
      type="text"
      name="NameOfTask"
      id="name"
      formControlName="name"
      placeholder="Some title of project "
    />
    <div class="invalid-feedback" *ngIf="isSubmitted && name?.invalid">
      <span class="waring">Please check yours project name field</span>
    </div>
    <label for="description">description of project</label>
    <textarea
      id="description"
      cols="30"
      rows="10"
      formControlName="description"
      placeholder="description exp. its always good to take brake, sometime 5 minuts can recharge battery ;) "
    ></textarea>
    <div class="invalid-feedback" *ngIf="isSubmitted && description?.invalid">
      <span class="waring">Please check yours description field</span>
    </div>
    <label for="level">Level od project</label>
    <select name="LevelOfTask" id="level" formControlName="level">
      <option value="low" selected="selected">Low</option>
      <option value="Mid">Medium</option>
      <option value="Hard">Hard</option>
    </select>
    <div class="invalid-feedback" *ngIf="isSubmitted && level?.invalid">
      <span class="waring">Please check yours level field</span>
    </div>
    <label for="time">time</label>
    <input type="date" name="timeOfTasks" id="time" formControlName="time" />
    <div class="invalid-feedback" *ngIf="isSubmitted && time?.invalid">
      <span class="waring">Please check yours time field</span>
    </div>
    <div class="users">
      <div class="user" *ngFor="let user of usersArray">
        <span class="user-card">
          <span class="user-card-avatar"><i class="uil uil-user"></i></span>
          <span class="user-card-title">{{ user.firstName }}</span>
          <span class="user-card-subtitle">{{ user.lastName }}</span>
          <span class="user-card-description">{{ user.position }}</span>
          <input
            type="checkbox"
            [value]="user.firstName + ' ' + user.lastName"
            (change)="onCheckboxChange($event)"
          />
        </span>
      </div>
    </div>
    <div class="content-form-buttons">
      <button class="btn" type="submit">
        Save <i class="uil uil-save"></i>
      </button>
      <button class="btn" (click)="closeDialog()">
        Cancel <i class="uil uil-cancel"></i>
      </button>
    </div>
  </form>
</div>
