<button cdkMenuItem [cdkMenuTriggerFor]="menu" class="headerBTN">
  <i class="uil uil-user"></i>
</button>
<div class="headerInfo">
  <ng-template #menu>
    <div class="menu-dropdown" cdkMenu>
      <button class="menu-dropdown-item" cdkMenuItem>Refresh</button>
      <button class="menu-dropdown-item" cdkMenuItem>Settings</button>
      <button class="menu-dropdown-item" cdkMenuItem>Help</button>
      <button class="menu-dropdown-item" cdkMenuItem [routerLink]="'../auth/login'">login</button>
      
      <button class="menu-dropdown-item" (click)="logout()">Sign out</button>

    </div>
  </ng-template>
</div>
