/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import "~@angular/cdk/overlay-prebuilt.css";

body {
  --text01: #000;
  --text02: rgb(255, 255, 255);
  --text03: #000;
  --bg01: #141424;
  --bg02: #363649;
  --bg03: #0c091a;
  --activeColor: #000;
  --hoverColor: rgb(95, 95, 109);
  --bgColor: #000;
  --color01: #5f5f5f;
  --green: #01d898;
  --white: #fff;


  background-color: var(--bg03);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
h1{
  color: var(--white);
}
.btn,
input, textarea {
  display: block;
  padding: 8px 10px;
  border: 1px solid var(--color01);
  color: var(--text02);
  width: fit-content;
  border-radius: 25px;
  transition: all 0.4s ease;
}
.btn:hover {
  background-color: var(--bg01);
  color: var(--green);
  border-color: var(--green);
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
hr {
  margin: 20px 0;
}

table {
  border-spacing: 0;
  width: 100%;
  padding: 20px 0;
  th,
  td {
    padding: 8px;
    text-align: center;
  }
  tbody {
    tr {
      border-radius: 25px;
      transition: all 0.4s ease;
      th,
      td {
        .btn,
        input {
          margin: 0 auto;
        }
      }
    }
    tr:nth-child(2n) {
      background-color: var(--bg01);
    }
    tr:hover {
      color: var(--green);
    }
  }
}
.container {
  width: 100%;
  border-radius: 25px;
  padding: 3em;
  background-color: var(--bg02);
  color: var(--text02);
  margin-top: 2em;
  transition: all .4s ease;

  .twoColumn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
  }
}
.TitleIcon{
  color: var(--green);
  font-size: 4em;
  display: block;
}
.waring{
  color: red;
}
.prime{
  color: var(--green);
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--bg02);
}

::-webkit-scrollbar-thumb {
  background: var(--green);
  border-radius: 25px;
}

/*cards-dash components*/



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
